.gamesquare{
    background-repeat: no-repeat;
    height: 64px;
    width: 62px; /* For some reason HTML thinks 64x64 is 64x62 */
}

.emptysquare{
    background-image: url("../images/empty_square_64x64.png");
}

.unknownsquare{
    background-image: url("../images/unknown_square_64x64.png");
}

.flagsquare{
    background-image: url("../images/flag_square_64x64.png");
}

.bombsquare{
    background-image: url("../images/bomb_square_64x64.png");
}

#gameboard{
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}